---
name: services
canonical: services/consulting
title: SEO Consulting &#38; Strategy Services - SEOCharles
---

<%= partial 'partials/services-intro' %>
<%= partial 'partials/services-menu' %>
<div id="main-content">
<h2>SEO Consulting</h2>
    <h3></h3>
    <ul id="services-list" class="fl-elems">
        <li>
            <h4></h4>
            <p>I can help you for the specific SEO needs: </p>
<ul id="blog-bullet">
<li><a href="/services/http-https">HTTP to HTTPS migration</a></li>
<li>SEO &amp; content strategy</li>
<li>Website redesign &amp; migration</li>
<li>Javascript SEO</li>
<li>Traffic drop and penalty</li>
<li>Multilingual / International SEO</li>
<li>Mobile SEO</li>
</ul>
<p></p>
<br />
<h4>Hourly Consulting</h4>
<p>Hourly consulting is offered for implementation work following <a href="/services/seo" title="SEO">an audit</a> or work in collaboration.   </p>
<h4>SEO Coaching</h4>
<p>When you need expert answers and guidance, having access to an experienced SEO will allow you to skyrocket your growth and increase your returns.</p>
<p>I help startups and online businesses on:</p>
<ul id="blog-bullet">
<li>SEO Strategy</li>
<li>On-site Optimization</li>
<li>Link Development</li>
</ul>
<p></p>
<p><b><a href="/contact" title="Contact">Get in touch</a> </b><span>to discuss your SEO needs.</span><br /><br /><br /></p>
        </li>
        <li>
            <h4>Testimonials</h4>
            <p><span>"A one hour consulting call with Charles taught me more about SEO than hours of reading on the subject. He clearly knows what he's talking about, gives effective answers, and provides helpful examples and resources. He's now my go-to SEO for all of my online projects."<br />Francois Lanthier Nadeau, Snipcart</span></p>
<p><span>"Charles is the guy I go to when I have SEO questions and is one of the few consultants I recommend when I am not able to take on new clients."</span><br /><span>Danny Dover - Author, SEO Secrets</span></p>
        </li>
        <li>
            <h4></h4>
            
        </li>
    </ul>
</div>
    <!-- <div id="info-block" class="fl-elems">
        
            <div id="contact-me">
                <h3></h3>
                <p></p>
                <a href="/contact?service=Consulting" class="consultation">Request More Info Now</a>
            </div> 
    </div> -->


         </div>
    </section>
        <div id="left-band" class="band-filler"></div>
    <div id="right-band" class="band-filler"></div>  
