---
name: services
canonical: services/ongoing-seo
title: Ongoing SEO Services - SEOCharles
---

<%= partial 'partials/services-intro' %>
<%= partial 'partials/services-menu' %>
<div id="main-content">
<h2>Ongoing SEO</h2>
    <h3></h3>
    <ul id="services-list" class="fl-elems">
        <li>
            <h4></h4>
            <p>Add SEO to your ongoing marketing efforts and see your rankings, traffic and sales skyrocket.</p>
<p>What can be done on an ongoing basis: </p>
<p><b>Keyword research - </b>Identify and conquer profitable content and targeting opportunities<br /><b>Technical optimization -</b> get the most out of your existing and future content<br /><b>Web Analytics - </b>insights that will make your site better for search engines and users <br /><b>Content optimization -</b> attract more organic traffic from every article<br /><b>Competitive analysis - </b>leverage competitive intelligence<br /><b>Backlink acquisition - </b>make the most of backlink opportunities and acquisition<br /><b>Reporting - </b>measure your progress with monthly SEO report</p>
<p></p>
<p><b><a href="/contact" title="Contact">Get in touch</a> </b>to discuss the opportunity to work together.</p>
<p></p>
<h4>Related Case Studies</h4>
<p><a href="/blog/317-increase-in-organic-traffic-for-office-timeline" title="317% Increase in Organic Traffic for Office Timeline">How Ongoing SEO helped Office Timeline increase organic traffic by 317%<br /></a><a href="/blog/126-increase-in-organic-traffic-for-rootfin" title="126% Increase in Organic Traffic for Rootfin">126% Increase in Organic Traffic for Rootfin<br /></a><a href="/blog/140-increase-in-search-traffic-case-study" title="140% Increase in Search Traffic case study">140% increase in organic traffic within 3 month</a></p>
<p><br /><br /></p>
        </li>
        <li>
            <h4>Testimonials</h4>
            <p>"Charles is the guy I go to when I have SEO questions and is one of the few consultants I recommend when I am not able to take on new clients."<br />Danny Dover - Author, SEO Secrets</p>
<p>"We've seen our organic traffic rise steadily and significantly since hiring Charles, and with the ongoing strategies he has recommended I have no doubt this will continue"<br />Christopher Sutton, Easy Ear Training</p>
<p><br /><br /></p>
        </li>
        <li>
            <h4></h4>
            
        </li>
    </ul>
</div>
    <!-- <div id="info-block" class="fl-elems">
        
            <div id="contact-me">
                <h3></h3>
                <p></p>
                <a href="/contact?service=Ongoing" class="consultation">Request More Info Now</a>
            </div> 
    </div> -->


         </div>
    </section>
        <div id="left-band" class="band-filler"></div>
    <div id="right-band" class="band-filler"></div>  
