---
name: services
canonical: services/seo
title: Technical SEO Audit - SEOCharles
---

<%= partial 'partials/services-intro' %>
<%= partial 'partials/services-menu' %>
<div id="main-content">
    <h2>Technical SEO Audit</h2>
        <!-- <a href="" class="consultation" id="cycle-button"></a> -->
    <h3></h3>
    <ul id="services-list" class="fl-elems">
        <li>
            <h4></h4>
            <p>Whether you are looking to solve traffic issues or faster growth, a website audit is the place<br /> to start to get SEO clarity.</p>
<p>An audit and action plan is custom tailored to your unique situation. Its goal is to identify issues and opportunities and prioritize them.</p>
<p>Areas covered in an audit:</p>
<ul id="blog-bullet">
<li>Indexing</li>
<li>Accessibility</li>
<li>Architecture &amp; Usability</li>
<li>On Page Elements</li>
<li>Keywords &amp; Topical Optimization</li>
<li>Content Review</li>
<li>Analytics Review</li>
<li>Inbound links</li>
<li>Competitive Analysis</li>
</ul>
<p></p>
<p>Audits are based on a checklist assembled over years of hands-on experience, the generous contribution of <a href="https://www.annielytics.com/resources/annielytics-site-audit-checklist/" target="_blank">Annie Cushing</a> checklist, and other industry leaders.   </p>
<h4>Audit Cost</h4>
<p>The cost of an audit depends on site complexity, size and what is covered. It usually range between $2,000 and $5,000. </p>
<div>An audit consist of several hours of deep analysis of your website. This is not an automated audit that you can get for free or a smaller fee.</div>
<p></p>
<p><b><a href="/contact" title="Contact">Get in touch</a> </b><span>to discuss the impact of an audit for your business.</span></p>
<p><br /><br /></p>
        </li>
        <li>
            <h4>Testimonials</h4>
            <p><i>"I hired Charles for an SEO audit of my jobs site, itviec.com in December 2015. He delivered an action report with detailed suggestions about how to make our site more "readable" to Googlebot and eliminate some things that were hurting us. We implemented his suggestions and saw material improvement."</i><br />Chris Harvey - Itviec.com</p>
<p><span><em>"Charles is a SEO expert in a digital world where everybody is claiming that title. His SEO audit is one of the most detailed reports I have ever received.</em><i>"<br /></i>Mike Worley - Lead Generation Expert </span></p>
<p><i>"We've seen our organic traffic rise steadily and significantly since hiring Charles, and with the ongoing strategies he has recommended I have no doubt this will continue"</i><br />Christopher Sutton, Easy Ear Training</p>
<p><i>Charles is the guy I go to when I have SEO questions and is one of the few consultants I recommend when I am not able to take on new clients.</i><br />Danny Dover - Author, <a href="http://www.amazon.com/Search-Engine-Optimization-SEO-Secrets-ebook/dp/B004U7MUES/" target="_blank">SEO Secrets</a></p>
        </li>
        <li>
            <h4></h4>
            
        </li>
    </ul>
</div> 
   <!-- <div id="info-block" class="fl-elems">
        
            <div id="contact-me">
                <h3></h3>
                <p></p>
                <a href="/contact?service=seo" class="consultation">Request More Info Now</a>
            </div> 
    </div> -->


         </div>
    </section>
        <div id="left-band" class="band-filler"></div>
    <div id="right-band" class="band-filler"></div>  
