@font-face {
    font-family: 'NovecentowideBookRegular';
    src: url('../fonts/novecentowide_book_french/Novecentowide-Book-webfont.eot');
    src: url('../fonts/novecentowide_book_french/Novecentowide-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide_book_french/Novecentowide-Book-webfont.woff') format('woff'),
         url('../fonts/novecentowide_book_french/Novecentowide-Book-webfont.ttf') format('truetype'),
         url('../fonts/novecentowide_book_french/Novecentowide-Book-webfont.svg#NovecentowideBookRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NovecentowideUltraLightBold';
    src: url('../fonts/novecentowide_medium_french/Novecentowide-Medium-webfont.eot');
    src: url('../fonts/novecentowide_medium_french/Novecentowide-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide_medium_french/Novecentowide-Medium-webfont.woff') format('woff'),
         url('../fonts/novecentowide_medium_french/Novecentowide-Medium-webfont.ttf') format('truetype'),
         url('../fonts/novecentowide_medium_french/Novecentowide-Medium-webfont.svg#NovecentowideUltraLightBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NovecentowideNormalRegular';
    src: url('../fonts/novecentowide_normal_french/Novecentowide-Normal-webfont.eot');
    src: url('../fonts/novecentowide_normal_french/Novecentowide-Normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide_normal_french/Novecentowide-Normal-webfont.woff') format('woff'),
         url('../fonts/novecentowide_normal_french/Novecentowide-Normal-webfont.ttf') format('truetype'),
         url('../fonts/novecentowide_normal_french/Novecentowide-Normal-webfont.svg#NovecentowideNormalRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NovecentowideBookBold';
    src: url('../fonts/novecentowide_bold_french/Novecentowide-Bold-webfont.eot');
    src: url('../fonts/novecentowide_bold_french/Novecentowide-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide_bold_french/Novecentowide-Bold-webfont.woff') format('woff'),
         url('../fonts/novecentowide_bold_french/Novecentowide-Bold-webfont.ttf') format('truetype'),
         url('../fonts/novecentowide_bold_french/Novecentowide-Bold-webfont.svg#NovecentowideBookBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NovecentowideLightBold';
    src: url('../fonts/novecentowide_demibold_french/Novecentowide-DemiBold-webfont.eot');
    src: url('../fonts/novecentowide_demibold_french/Novecentowide-DemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide_demibold_french/Novecentowide-DemiBold-webfont.woff') format('woff'),
         url('../fonts/novecentowide_demibold_french/Novecentowide-DemiBold-webfont.ttf') format('truetype'),
         url('../fonts/novecentowide_demibold_french/Novecentowide-DemiBold-webfont.svg#NovecentowideLightBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NovecentowideLight';
    src: url('../fonts/novecentowide_light_french/2323FB_0_0.eot');
    src: url('../fonts/novecentowide_light_french/2323FB_0_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/novecentowide_light_french/2323FB_0_0.woff') format('woff'),
    url('../fonts/novecentowide_light_french/2323FB_0_0.ttf') format('truetype');
}