<div id="recent-posts">
        <h2>Recent posts</h2>
        <ul>
            <li><a href="/blog/technical-seo-case-study-interview">2x Organic Traffic - Technical SEO Case Study Interview with ITviec</a></li>
            <li><a href="/blog/https-seo">Why You Should Move from HTTP to HTTPS   for SEO</a></li>
            <li><a href="/blog/317-increase-in-organic-traffic-for-office-timeline">317% Increase in Organic Traffic Within 6 Months</a></li>
            <li><a href="/blog/126-increase-in-organic-traffic-for-rootfin">126% Increase in Organic Traffic for Rootfin</a></li>
            <li><a href="/blog/re-re-seo-does-not-equal-gaming-search-engines">RE: RE: SEO does not Equal Gaming Search Engines</a></li>
        </ul>
    </div>