<section id="intro" class="home">
    <div class="page-center fl-elems">
        <div id="logo" class="fl-elems">
            <a href="/"><img src="/images/logo.png" alt="SEO Consultant" />
            <span id="logo-title"><span class="bold-title">SEO</span> Charles</span></a>
        </div>
        <div id='introduction'><p><span>I'm Charles, an SEO Consultant based in Québec City.<span> I help e-commerce and medium-large websites grow traffic from search and serve their visitors better. </span></span>You can learn more about me <a href="/about" title="About">here</a>, or <a href="/contact" title="Contact">get in touch</a>.</p></div>
    </div>
</section>