<div id="cycle-wrapper">
        <div id="cycle-background">
            <div id="cycle">
                <div id="big-circle">
                    <h2>SEO Process Cycle</h2>
                    
<p>These are the 8 steps I use to provide quality SEO leading to
real results. Depending of your current activities, needs, and
resvources you might need work on some or all of them. Please
contact me me here to discuss your needs.</p>

                </div>
                    <div class="small-circle" id="step-1">
                        <h3>1</h3>
                        <p>Keyword research and analysis</p>
                    </div>
                    <div class="small-circle" id="step-2">
                        <h3>2</h3>
                        <p>Competitive analysis</p>
                    </div>
                    <div class="small-circle" id="step-3">
                        <h3>3</h3>
                        <p>Website audit</p>
                    </div>
                    <div class="small-circle" id="step-4">
                        <h3>4</h3>
                        <p>Website architecture plan</p>
                    </div>
                    <div class="small-circle" id="step-5">
                        <h3>5</h3>
                        <p>Website optimization integration</p>
                    </div>
                    <div class="small-circle" id="step-6">
                        <h3>6</h3>
                        <p>Link building campaign strategy</p>
                    </div>
                    <div class="small-circle" id="step-7">
                        <h3>7</h3>
                        <p>Traffic and rankings analysis</p>
                    </div>
                    <div class="small-circle" id="step-8">
                        <h3>8</h3>
                        <p>Improvement and optimization</p>
                    </div>
            </div>
        </div>
    </div> 