    <section id="page-content" class="services">
        <div class="page-center fl-elems">
            <div id="left-filler" class="filler"></div>
<nav id="sub-menu">
        <a href="/services/seo" class="<%= is_page_selected6("/services/seo") %>"><span id="seo" class="service-link"><span class="green-title">SEO</span> Audit</span></a>
        <a href="/services/ongoing-seo" class="<%= is_page_selected6("/services/ongoing-seo") %>"><span id="seo-consulting" class="service-link">Ongoing <span class="green-title">SEO</span></span></a>
        <a href="/services/consulting" class="<%= is_page_selected6("/services/consulting" || "/services/ssl-https") %>"><span id="analytics" class="service-link"><span class="green-title">SEO</span> Consulting</span></a>
</nav>
<div id="right-filler" class="filler"></div>