<section id="intro" class="services">
    <div class="page-center fl-elems">
        <div id="logo" class="fl-elems">
            <a href="/"><img src="/images/logo.png" alt="SEO Consultant" />
            <span id="logo-title"><span class="bold-title">SEO</span> Charles</span></a>
        </div>
        <div class="inner-page-services" id='introduction'>Services</div>
    </div>
</section>