<section id="slider" class="page-center">
    <a href="" id="prev-button">Previous</a>
    <div id="slides-container">
            <div id="slide-1" class="slide">
                <img src="/images/slider/slide-img-4.png" alt="" />
                <div class="slide-right">
                            <div class="top-slide">
            <p><span id="eighty-five">85%</span> of online transactions begin with a Web search</p>
        </div>
        <div class="bottom-slide">
            <h2>Are you search engine visible?</h2>
        </div>

                </div>
            </div>
            <div id="slide-2" class="slide">
                <img src="/images/slider/slide-img-3.png" alt="" />
                <div class="slide-right">
                            <div class="top-slide">
            <p><span id="seventy-five">75%</span> of Web traffic originates from search engines</p>
        </div>
        <div class="bottom-slide">
            <h2>Increase visibility, get more traffic</h2>
        </div>

                </div>
            </div>
            <div id="slide-3" class="slide">
                <img src="/images/slider/slide-img-2.png" alt="" />
                <div class="slide-right">
                            <div class="top-slide">
            <h2><span class="green-title">How effective</span> is your SEO?</h2>
        </div>
        <div class="bottom-slide">
            <p>Improve your site's effectiveness with a SEO Audit</p>
        </div>

                </div>
            </div>
    </div>
    <a href="" id="next-button">Next</a>
    <p id="slides-buttons">
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
    </p>
</section>
