---
name: about
canonical: about
title: More About Me - SEOCharles
---

<%= partial 'partials/about' %>
<section id="page-content" class="about">
    <div class="page-center">
        <h2>A little more about SEOCharles</h2>
        <img src="/images/about/profile-photo.jpg" alt="" id="profile-photo"/>
        <div id="first-paragraph"><p>Thank you for stopping by! I'm Charles McLaughlin Piché, an independent SEO Consultant, musician and traveler.</p>
<br />
<p>This website <a href="/blog/a-new-lifestyle-and-the-beginning-of-seocharles" title="A new lifestyle and the beginning of SEOCharles">was launched in 2012</a> after I decided to sell everything and <a href="/blog/who-inspired-me-to-sell-everything-and-move-to-spain" title="Who inspired me to sell everything and move to Spain">move to Spain</a>. I have since then lived in 5 different countries, helped dozens of clients with their SEO, and recently re-established myself in one of my favorite city: Québec.</p></div>
        <div id="after-photo" class="fl-elems">
            <div id="left-side">
                <h3>How I got into SEO?</h3>
                <p>As with most things that last, SEO chose me more than I chose it. It started back in 2003 when a client I designed a website for asked me to get him ranked in this new thing called Google.</p>
<p>Curiosity led to multiple hours reading forums and experimenting with this new thing called search engine optimization.</p>
<p>Less than a year later, this client business nearly doubled and they stopped giving 30k / year to Yellow Pages for print ads. This was the beginning of my SEO journey.</p>
<h3>Who I work with?</h3>
<p>I work with business owners, agencies, in-house SEOs, marketing directors and their teams.</p>
<h3>Why Work with SEOCharles?</h3>
<div id="blog-bullet">
<ul>
<li>Incremental, step by step approach (develop a relationship)</li>
<li>Work &amp; communicate directly with the SEO expert</li>
<li>Collaborative: work with the existing team</li>
<li>Attention to brand image and vision</li>
</ul>
<p></p>
<div id="blog-bullet">
<h3>What Others are Saying</h3>
<blockquote class="quote">
<p>"Charles is superb and I recommend him highly whenever I'm talking to other entrepreneurs and the subject of SEO comes up. He is friendly, professional and reliable, and I've found him to be a pleasure to work with.</p>
<p>More importantly, he gets results. Instead of resorting to shady short-sighted SEO tricks, Charles takes a long-term view and aims to improve a website both for the human visitor and the search engines. As a result our site is now easier to navigate and gets the most valuable content in front of our visitors more effectively - and Google has taken note!</p>
<p>We've seen our organic traffic rise steadily and significantly since hiring Charles, and with the ongoing strategies he has recommended I have no doubt this will continue."<br />Christopher Sutton, <a href="http://www.easyeartraining.com" title="Ear Training">Easy Ear Training</a></p>
</blockquote>
<blockquote class="quote"><img src="/images/about/danny-dover_95x127.jpg"  width="95"  height="127" alt="Danny Dover" class="wrapright"/>
<p><i>"Charles is the guy I go to when I have SEO questions and is one of the few consultants I recommend when I am not able to take on new clients. His honest approach to SEO and user experience will bring results to your business that go way beyond just rankings and traffic."<br />Danny Dover - <a href="http://www.lifelisted.com/about/">Author, SEO Secrets</a></i></p>
</blockquote>
<blockquote class="quote">
<p>"Charles is a real expert not only in SEO, but for all aspects of your online marketing, I highly recommend him. His judgment, analytical skills and pro-active side will bring real results to your business!"<br /><span>Francis Frenette</span><span>, Industrial Alliance</span></p>
</blockquote>
<blockquote class="quote">
<p>In less than three weeks, I have reached a position in Google which place us among the leaders in the industry. The professionalism of Charles, his good advice, and the intelligence of its results-oriented approach allowed us to greatly expand our client base. Thank you so much!"<br />Tristan Le Breton, Thermas</p>
</blockquote>
<h3>Lifestyle Business</h3>
<p><img src="/images/about/working-in-thailand_250x333.jpg"  width="250"  height="333" alt="Working in Thailand" class="wrapright"/></p>
<p>The idea with SEOCharles was to create a business around my interests and on my own terms. Over the last 4 years, it led me to live in 5 different countries, live amazing experiences, and meet amazing people.</p>
<p>In 2016, it was time to re-assess my priorities, interests and what living on my own terms meant. This led me to re-established myself close to family and get on projects (more to come) that were not possible with my previous situation.</p>
<pre><i>“The Only Thing That Is Constant Is Change”</i><br />― Heraclitus</pre>
<br />
<h3>Other contact information</h3>
<p>You can also contact me by <a href="mailto:charles@seocharles.com">email</a>, on <a title="SEOCharles on Twitter" href="https://twitter.com/iamseocharles">Twitter</a> or <a title="SEOCharles on Facebook" href="http://www.facebook.com/pages/SEOCharlescom/239010806214450">Facebook</a>.</p>
</div>
</div>
            </div>
            <div id="right-side">
                <h3>Get your website to new heights</h3>
                <p>Let's dicsuss about what's possible with your website and how to get there, <b><a href="/contact" title="Contact">get in touch</a>.</b></p>
                <h3>Connect or say hello:</h3>
                <p><a href="https://twitter.com/iamseocharles" class="twitter social-network">Twitter</a> <a href="http://ca.linkedin.com/in/seocharles" class="linkedin social-network">LinkedIn</a> <a href="" class="facebook social-network">facebook</a> <a href="https://plus.google.com/118416466787670426404/" class="google-plus social-network" rel="me">Google+</a></p>
            </div>
        </div>
    </div>
</section>
