---
name: contact
canonical: contact
title: Contact - SEOCharles
---

<%= partial 'partials/contact-intro' %>
<section id="page-content" class="contact">
    <div class="page-center fl-elems">
        <div id="contact-seo">
            <h2>Get in Touch</h2>
            <div id="page-text"><p>Please fill the form below with the most information you can provide and I'll be in touch shortly.</p>
<p>If you're around Québec City and would like to meet, you can <a href="https://www.google.ca/maps/place/SEOCharles/@46.813145,-71.2303527,17z/data=!3m1!4b1!4m5!3m4!1s0x4cb89671c3b97b3b:0xf1367574d1f3087b!8m2!3d46.813145!4d-71.228164" target="_blank">find me here</a>.</p></div>
            <p id="contact-message"></p>
            <form id="contact-form" name="contact-form" action="/contactform.php" method="post" novalidate data-fail="Your message could not be sent because of the errors below." data-sending="Sending your message ...">
                <input type="text" id="first-name" name="first-name" class="with-placeholder required" placeholder="First name" data-placeholder="First name" title="First name" data-msg="You must enter your first name" />
                <input type="text" id="last-name" name="last-name" class="with-placeholder required" placeholder="Last name" data-placeholder="Last name" title="Last name" data-msg="You must enter your last name" />
                <input type="text" id="company" name="company" class="with-placeholder required" placeholder="Website" data-placeholder="Website" title="Website" data-msg="You must enter your website" />
                <input type="email" id="your-email" name="your-email" class="with-placeholder required valid-email" placeholder="Email" data-placeholder="Email" title="Email" data-msg="You must enter your email address" data-invalid="You must enter a valid email address" />
                <input type="tel" id="phone" name="phone" class="with-placeholder" placeholder="Phone" data-placeholder="Phone" title="Phone" />
                <input type="text" id="service" name="service" class="with-placeholder required" placeholder="Service" data-placeholder="Service" title="Service" data-msg="You must enter the service you want" value="" />
                <textarea id="message" name="message" rows="15" cols="15" class="with-placeholder required" placeholder="Message" data-placeholder="Message" title="Message" data-msg="You must enter a message"></textarea>
                <input type="submit" id="send" name="send" value="Submit" />
            </form>
        </div>
        <div id="map">
            <h2>Where can I find SEO Charles?</h2>
            <p class="to-hide address"><span class="marker-lat">46.813145</span><span class="marker-long">-71.228164</span></p>
            <div id="gmap"></div>
        </div>
    </div>
</section>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
