---
name: home
title: SEOCharles - Independent SEO Consultant
---

<%= partial 'partials/home-intro' %>
<%= partial 'partials/slider' %>
<section id="main-text">
    <div class="page-center fl-elems">
        <div id="left-side-text">
            <h2>What is Technical SEO?</h2>
            <p>Technical search engine optimization consists of making various internal changes to a website to make it more visible in search engines. More visibility means more credibility and better positioning in search engine results pages. Done properly, SEO brings more targeted traffic to your website.</p>
        </div>
        <div id="green-box">
            <h2>Learn more</h2>
            <p>Get a free and confidential SEO consultation to discuss the opportunity to make your website more successful.</p>
            <a href="/contact?service=seo" class="consultation">Get a Free Consultation</a>
        </div>
    </div>
</section>
<section id="bottom-boxes">
    <div class="page-center fl-elems">
            <div class="bottom-box" id="seo">
                <h2><a href="/services/seo"><span class="green-title">SEO</span> Audit</a></h2>
                <p>Looking for SEO clarity and an action plan that will lead to real results? A website audit is the place to start to establish a foundation you'll benefit from for years.</p>
            </div>
            <div class="bottom-box" id="seo-consulting">
                <h2><a href="/services/ongoing-seo">Ongoing <span class="green-title">SEO</span></a></h2>
                <p><!--?xml version="1.0" encoding="UTF-8" standalone="no"?--> <span><span>Do you want to stay ahead of the competition and constant SEO changes? Get an SEO expert on your team to </span></span>take full advantage of the most targeted traffic opportunities.</p>
            </div>
            <div class="bottom-box" id="analytics">
                <h2><a href="/services/consulting"><span class="green-title">SEO</span> Consulting</a></h2>
                <p>If you need help with with your strategy, or something specific like a redesign or traffic drop. Get someone with hands-on experience and a proven track record of solving complex and sensitive problems.</p>
            </div>
    </div>
</section>
