---
name: privacy
title: Privacy Policy - SEOCharles
canonical: privacy
---

<%= partial 'partials/intro-other' %>
<section id="page-content" class="privacy static">
    <div class="page-center fl-elems">
        <h2>Privacy Policy</h2>
        <div id="content"><h3>Your Privacy</h3>
<p><span>Your privacy is important. That is why I take the time to explain here what information is collected or can be collected about you on this website so you can decide how to use it. By using this site, you consent to this privacy policy.</span></p><br />
<h3>Collection of Personal Information</h3>
<p><span>Google Analytics is used to collect non personally identifiable information with cookies. This information is used to analyse and improve the website. If you prefer not to share this information, you can choose to disable the cookies in your web browser.</span></p>
<p><span>Your email address: If you decide to subscribe to the newsletter, your email address will be collected but never sold or shared with any third party without your permission.<br /></span></p>
<br />
<h3>Links to third-party websites</h3>
<p>Links to other websites are used for reference. I am not responsible for the privacy policies of these websites. </p>
<p> </p><br />
<h3>Changes to this Privacy Policy</h3>
<p><span>Changes can be made at any time at my discretion. </span></p>
<p><br /><em>Last updated: August 6, 2012.</em></p>
<p><br /><br /></p></div>
    </div>
</section>
