---
name: 404 Not Found
title: 404 - Oops! Page not found
---

<%= partial 'partials/intro-other' %>
 <section id="page-content" class="page-404 static">
    <div class="page-center fl-elems">
        <h2>Oops!</h2>
        <div id="content"><p>the page you are looking for might have been removed, had it's name changed or is temporarly unavailable!</p>
<p> </p>
<p>Go back to <a href="/" title="SEO Charles">SEOCharles</a> here</p></div>
    </div>
</section>
